*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  border: 1px solid red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  color: rgb(1, 1, 110);
}
@media screen and (max-width: 1000px) {
  .App {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .App {
    grid-template-columns: 1fr;
  }
}

.card {
  box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.075);
  padding: 2rem;
  line-height: 2rem;
}
